* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #0f0715;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #150d1f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

#preloader p {
  font-size: 5rem;
  color: #7b48e2;
  margin: 1rem;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top: 5px solid #7b48e2;
  border-radius: 50%;
  animation: spin 5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #0f0715, #291746);
  color: #fff;
  z-index: 1;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.btn {
  background: linear-gradient(to right, #7b48e2, #381d6d);
  border: none;
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 2rem;
  font-weight: 700;
}

.btn:hover {
  background: linear-gradient(to left, #7b48e2, #5e35af, #381d6d);
  transition: all 0.15s linear;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn-resume,
.btn-link {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 2px solid #7b48e2;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 2rem;
  margin: 1rem;
  transition: all 0.3s ease;
}

.btn-resume:hover {
  background: linear-gradient(to right, #7b48e2, #452881);
  border: none;
}

.btn-link {
  border-radius: 50%;
  padding: 0.8rem;
  font-size: 1.2rem;
}

.btn-link:hover {
  background: radial-gradient(circle, #7b48e2, #452881);
  transition: all 6s ease-in;
}

.nav-menu {
  display: flex;
  gap: 1rem;
  margin: 2rem;
}

.nav-menu ul {
  margin: 1rem 12rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
  padding-bottom: 0.5rem;
}

.nav-links a:hover {
  border-bottom: 2px solid #8750f7;
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

header {
  height: 100vh;
  background: linear-gradient(to right, #0f0715, #291746);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#home .hero {
  width: 50%;
  margin: 1rem auto;
}

#home .hero h1 {
  font-size: 3rem;
}

#home .hero h1 span {
  background: linear-gradient(to right, #8a54f8, #ebe1fc);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 5rem;
  text-align: left;
}

#home .hero h1 span:hover {
  background: linear-gradient(to left, #8a54f8, #ebe1fc);
  -webkit-background-clip: text;
  color: transparent;
}

#home .hero p {
  color: #dddddd;
  font-size: 1.2rem;
}

.hero .links {
  margin-top: 1.5rem;
}

header .btn {
  padding: 0.8rem 2rem;
  color: #fff;
  background: #ff6347;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

header .btn:hover {
  background: #ff4500;
}

.section {
  padding: 2rem;
  text-align: center;
  width: 100%;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.project-con {
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  gap: 1rem;
}

.project {
  padding: 2rem 2rem 0rem 2rem;
  background: #150d1f;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  position: relative;
}

.project img {
  width: 600px;
  height: 400px;
  border-radius: 1rem;
}

.project:hover .project-view {
  opacity: 1;
}

.project-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  text-align: left;
  bottom: 1%;
  left: 50%;
  width: 80%;

  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #7b48e2, #452881);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}

.project-view .project-link {
  transform: rotate(-45deg);
  font-size: 2rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(130deg);
  }
}

.project:hover .project-view .project-link {
  transform: rotate(130deg);
  animation: rotate 0.5s ease;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.contact-container {
  background-color: #140c1c;
  width: 50%;
  padding: 2rem;
  text-align: left;
}

.contact-container p {
  margin-bottom: 1rem;
}

.contact-container .name {
  width: 100%;
}

.contact-container .name input {
  width: 49.5%;
}

.contact-container input,
.contact-container textarea {
  width: 100%;
  padding: 1.5rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.8rem;
  outline: none;
  background: #050709;
  border: 1px solid #677575;
  color: #7b48e2;
  font-size: 1.1rem;
}

.contact-container input:focus,
.contact-container textarea:focus {
  border: 1px solid #7b48e2;
}

.contact-container textarea {
  margin-bottom: 1rem;
  height: 200px;
}

.email-btn {
  background: linear-gradient(to right, #7b48e2, #381d6d);
  border: none;
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 2rem;
  font-weight: 600;
}

.email-btn:hover {
  background: linear-gradient(to left, #7b48e2, #5e35af, #381d6d);
  transition: all 0.15s linear;
}

input::placeholder,
textarea::placeholder {
  color: #677575;
  font-size: 1.2rem;
}

footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
  background: #140c1c;
  color: #8049f0;
  width: 100%;
}

footer i {
  font-size: 1.5rem;
  border: 1px solid #8049f0;
  border-radius: 50%;
  padding: 0.5rem;
  color: #8049f0;
  transform: rotate(90deg);
}

footer i:hover {
  background: linear-gradient(to right, #7b48e2, #381d6d);
  color: #fff;
  transition: all 0.3s ease;
}

h1,
h2,
p,
.btn {
  animation: fadeIn 1.5s ease-out;
}

.education-container,
.experience-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.education-item,
.experience-item {
  background: #fff;
  border-radius: 1.5rem;

  max-width: 600px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 100%;
}

#education {
  padding-top: 0;
}

h2 {
  margin: 1rem 0;
  font-size: 3rem;
  background: linear-gradient(to right, #8a54f8, #ebe1fc);
  -webkit-background-clip: text;
  color: transparent;
}

.education-item,
.experience-item {
  background-color: #150d1f;
  padding: 1.5rem;
}

.education-item:hover,
.experience-item:hover {
  background: linear-gradient(to right, #8a54f8, #361c69);
  transition: all 6s ease;
}

.education-item h3,
.experience-item h3 {
  margin: 0;
  color: #fff;
}

.education-item p,
.experience-item p {
  margin: 0.3rem 0;
  color: #fff;
}

.education-item .status,
.experience-item .status {
  color: #8750f7;
  font-size: 1.2rem;
  font-weight: 600;
}

.education-item:hover .status,
.experience-item:hover .status {
  color: #fff;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 100%;
  margin: 0 auto;
}

.skill-content {
  padding: 2rem;
  background: #140c1c;
  border-radius: 1.5rem;
  border: none;
}

.skill-content img {
  filter: invert(100%) grayscale(100%);
}

.skill-content:hover img {
  filter: invert(0%) grayscale(0%);
}

.skill-content:hover {
  background: linear-gradient(to right, #8b54f86d, #361c6967);
  border: 2px solid #7b48e2;
}

img {
  width: 100px;
  height: 100px;
}

.skill {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.progress-bar {
  background: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  height: 10px;
  margin-top: 5px;
}

.progress {
  background: #8750f7;
  height: 10px;
  transition: width 0.5s ease;
}

.certifications-list {
  list-style: none;
  padding: 0;
  max-width: 100%;
  display: flex;
  margin: 0 auto;
}

.certifications-list li {
  background-color: #150d1f;
  border-radius: 1.2rem;
  padding: 2rem;
  margin: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 25%;
}

.certifications-list li:hover {
  background: linear-gradient(to right, #8b54f86d, #361c6967);

  border: 2px solid #7b48e2;
}

.certifications-list img {
  width: 100%;
  height: 220px;
  border-radius: 1.2rem;
  opacity: 0.3;
}

.certifications-list li:hover img {
  opacity: 1;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#projects ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 1rem;
  padding: 0.2rem;
  border-radius: 5rem;
  background: #150d1f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
}

#projects ul li {
  padding: 0.5rem 1rem;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#projects ul li:hover {
  background: linear-gradient(to right, #8b54f86d, #361c6967);

  border: 2px solid #7b48e2;
  border-radius: 5rem;
}

#projects ul li.active {
  background: linear-gradient(to right, #8b54f86d, #361c6967);

  border: 2px solid #7b48e2;
  border-radius: 5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1224px) {
  .navbar {
    position: sticky;
    justify-content: space-around;
    padding: 2rem;
  }

  .nav-menu div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  header {
    height: auto;
  }

  #home .hero {
    margin: 2rem;
    width: 100%;
  }

  #home .hero h1 {
    font-size: 1rem;
  }

  #home .hero h1 span {
    font-size: 1.5rem;
  }

  #home .hero p {
    font-size: 0.8rem;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .btn-resume {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
  }

  .btn-link {
    font-size: 0.8rem;
    border-radius: 2rem;
    padding: 0.1rem !important;
  }

  .container {
    flex-direction: column;
  }

  .menu-toggle {
    display: block;
  }

  .nav-menu {
    flex-direction: column;
    display: none;
    position: absolute;
    top: 60px;
    /* right: 0px; */
    background: #150d1f;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
  }

  .nav-menu.show {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
  }

  .skills-container {
    flex-direction: column;
  }

  .certifications-list {
    flex-direction: column;
    align-items: center;
  }

  .certifications-list li {
    width: 90%;
  }

  .project {
    width: 100%;
  }

  .project img {
    width: 100%;
    height: 200px;
  }

  .project-view {
    width: 100%;
    bottom: -15%;
    padding: 1rem;
  }

  .project-content h3 {
    font-size: 1rem;
  }

  .project-content p {
    font-size: 0.8rem;
  }

  .education-item {
    width: 90%;
  }

  .contact-container .name input {
    width: 100%;
  }

  .certifications-list img {
    width: 100%;
  }

  #frontend .project-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contact-container {
    width: 100%;
  }
}
